table, td, th {
border: solid black;
border-collapse: collapse;
}

body {
  background-color: salmon;
}

a:link {
  color: blue;
}

a:visited {
  color: green;
}

p { 
  font-family: Arial, Helvetica, sans-serif;
}